<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Auth0" version="3.6.0" targetFramework="net461" />
  <package id="Auth0.AuthenticationApi" version="3.7.0" targetFramework="net461" />
  <package id="Auth0.Core" version="3.7.0" targetFramework="net461" />
  <package id="Auth0.ManagementApi" version="3.6.0" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net461" />
  <package id="NuGet.CommandLine" version="3.5.0" targetFramework="net461" developmentDependency="true" />
</packages>